* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    }
    
:root {
    --midnight: #31343D;
    --light-blue: #9CD9D9;
    --light-green-blue: #8fc0ad;
    --light-purple: #EBEBF2;
    --title: #193559;
    --paragraph: #4960A6;
    --image-color: #7291c0;
    --tertiary-color: #FFFAF0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: var(--light-purple);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */
header {
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    align-items: flex-end;
    background-color: var(--midnight);
}

h1 a {
    color: var(--midnight);
    margin: 5px;
    font-weight: bold;
    padding-left: 50px;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -35px;
}

.back-color {
    background-color: var(--light-blue);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    padding: 5px;
    color: var(--light-blue);
    border-bottom: var(--light-blue) solid 2px;
    margin: 20px;
}

header nav ul li a:hover  {
    border-bottom: var(--light-blue);
    color: var(--tertiary-color);
}

section {
    padding: 35px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* cover */
.cover {
    background-image: url(../images/dark.jpg);
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.cover img {
    width: 150px;
}

.picture {
    width: 100%;
    text-align: right;
}

.middle-cover {
    transform: translate(-50%, -50%);
    background-color: var(--light-blue);
    text-align: right;
    display: block;
    margin-block-start: 3.83em;
    margin-block-end: -3.17em;
    margin-inline-start: 0;
    margin-inline-end: -8.88em;

}

.middle-cover:hover {
    background-color: var(--image-color);
    filter: brightness(60%);
    opacity: 100%;
    transition: all 0.50s;
    cursor: pointer;
}
.cover h2, .cover p {
    color: var(--midnight);
    text-align: center;
}

.cover h2 {
    padding: 10px 10px 0;
}
.cover p {
    padding-bottom: 10px;
}
/* About Me */
.title {
    flex: 1 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.title h2 {
    font-size: xx-large;
    color: var(--title);
    border-right: var(--title) solid 3px;
    padding: 0 15px;
    text-align: right;
}

.content {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%
}

.about p {
    margin-bottom: 15px;
}

/* section work */
.container-work .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 50px;
    grid-gap: 20px;
}

.container-work .content a {
    display: flex;
    grid-column: span 2;
    grid-row: span 2;
    border: var(--light-blue) solid 3px;
    background-size: cover;
    position: relative;
    align-items: flex-end;
}

.container-work .content a:first-child {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
}

.container-work .content a::after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--image-color);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    transition: opacity 0.6s ease-in-out;
}

.container-work a:hover::after {
    opacity: 0;
}

a.project1 {
    background-image: url(../images/run-buddy.jpg);
}

a.project2 {
    background-image: url(../images/);
}

a.project3 {
    background-image: url(../images/);
}

a.project4 {
    background-image: url(../images/);
}

a.project5 {
    background-image: url(../images/);
}

a.project6 {
    background-image: url(../images/);
}

a.project7 {
    background-image: url(../images/);
}

a.project8 {
    background-image: url(../images/);
}

a.project9 {
    background-image: url(../images/);
}

a.project10 {
    background-image: url(../images/);
}

a.project11 {
    background-image: url(../images/);
}

a.project12 {
    background-image: url(../images/);
}

a.project13 {
    background-image: url(../images/);
}

.projects {
    background: var(--light-blue);
    padding: 4px 12px;
    z-index: 1;
    margin-bottom: 10px;
    margin-left: -1px;
    position: relative;
}

.projects h3 {
    color: var(--title);
}

.projects p, .content p {
    color: var(--paragraph);
}

.projects h3 {
    font-size: 11pt;
}

.projects p {
    font-size: 9pt;
}

/* Footer/Contact Me */
.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact ul li a {
    padding: 0 5px;
    color: var(--title);
    border-bottom: var(--title) solid 2px;
    margin: 0 20px;
}

.contact ul li a:hover  {
    border-bottom : none;
    color: #000;
}

/* this will be applied on any screen smaller than 980px */
@media screen and (max-width: 980px) {
    header {
        padding: 20px;
    }

    header nav ul {
        margin: 20px 0;
        width: 100%;
        justify-content: center;
    }
}

/* this will be applied on any screen between 768px and 575px */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    
    .title {
        flex: 1 100%;
        justify-content: center;
    }

    .title h2 {
        border-bottom: var(--title) solid 3px;
        border-right: none;
        margin-bottom: 15px;
    }
}

/* this will be applied on any screen smaller than 575px */
@media screen and (max-width: 575px) {
    header h1{
        font-size: 1rem;
    }

    header nav ul li a {
        margin: 10px;
    }

    .container-work .content {
        grid-template-columns: 1fr 1fr;
        grid-gap : 5px 0;
    }

    .container-work .content a {
        grid-column: 1 / span 2;
    }

    .projects h3 {
        font-size: 9pt;
    }
    
    .projects p {
        font-size: 7pt;
    }

    .contact ul li a {
        margin: 0 10px;
    }
}